<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.MixedReality.QR" version="0.5.3037" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.5" />
  <package id="NETStandard.Library" version="2.0.0" />
  <package id="ZXing.Net" version="0.16.9" />
</packages>